@import "vars";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: $body-background-color;

  .main {
    background-color: $main-background-color;
    font: $default-font;
    margin: 10px 30px 10px 30px;

    a, a:visited {
      color: inherit;
    }
  }
}